@use 'color-funcs' as *;
@use 'theme-colors' as *;
@use 'theme' as *;
@use 'variables' as *;
// @use 'inputs' as *;
// @use 'menus' as *;
@use 'lists' as *;
@use 'overlay' as *;
@use 'states' as *;
@use 'icons' as *;
@use 'tooltip' as *;
@use 'fields' as *;
@use 'tables' as *;
@use 'tabs' as *;
@use 'pagination' as *;
@use 'button' as *;
@use 'calendar' as *;
@use 'colorpicker' as *;
@use 'badge' as *;
@use 'kboard' as *;

.of-sheet {
  background: var(--of-bg-sheet);
  color: var(--of-color-sheet);
}
