@use 'page';
@use 'oceanfront/css' as oceanfront;
@use 'oceanfront-html-editor/css' as html-editor;

::selection {
  background-color: var(--of-primary-tint);
  color: var(--of-on-primary-tint);
}

.of-code {
  border-radius: 5px;
  background: var(--of-color-surface);
  color: var(--of-color-on-surface);
  font-family: monospace;
  padding: 1ch;
}

h1 {
  color: var(--of-primary-tint);
}

h2 {
  color: var(--of-primary-tint);
  opacity: 0.9;
  margin: 0.4em 0;
}

h4 {
  margin-bottom: 0.25em;
}

.form-row + .form-row {
  margin-top: 0.8rem;
}

.demo-fields {
  border-radius: 0.25rem;
  margin-top: 2rem;
  padding: 1rem;

  .form-row + .form-row {
    margin-top: 1.25rem;
  }
}

.demo-form {
  background: var(--of-color-background);
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 1rem;
}

.header-options-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1em;

  > div {
    flex: 1 1 10em;
    max-width: 10em;
  }
}
