@use './variables' as *;
@use './grid';

.xs-hidden {
  @include screen-xs {
    display: none;
  }
}
.sm-hidden {
  @include screen-sm {
    display: none;
  }
}
.md-hidden {
  @include screen-md {
    display: none;
  }
}
.lg-hidden {
  @include screen-lg {
    display: none;
  }
}
